.auth-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.auth-form label {
    display: block;
    margin-bottom: 5px;
}
.auth-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.auth-form button:hover {
    width: 100%;
    padding: 10px;
    background-color: paleturquoise;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.actions-class-back:hover{
    background-color: lightslategray;
}
